body, html{
    background-image: url("../images/food.jpg");
    background-size: cover;
}
#resultDisplay{
    display: none;
}

img {
    float: left;
    margin-right: 15px;
    
}



h1, h4 {
    font-weight: bold;
    text-shadow: 4px 4px 4px darkred;
}

.well {
    height: 200px;
    border: 3px solid red;
}



.panel .panel-heading, .jumbotron {
    background-color: red;
    color: white;
    border: 4px solid darkred;
    
}




.panel-body {
    border-left: 3px solid darkred;
    border-right: 3px solid darkred;
    border-bottom: 3px solid darkred;
    color: red;
}

.form-control:focus {
    border-color: darkred;
    box-shadow: 0 0 8px red;
}




#logInBtn {
    width:400px;
    height:100px;
    font-weight: bold;
    font-size: 35px;
}

#logInModal {
    height: 500px;
    width: 800px;
}



#logInSubmit {
    font-weight: bold;
    padding: 10px;
    margin:15px 0 15px 0;
}



#userLabel {
   font-size: 20px;
   padding-left: 10px;
   border-left: 3px solid red;
   margin-bottom: 15px;
}
