body {
    background-image: url("../images/foodloop.jpg");
    background-size: 200px;
    background-repeat: none;
}

#startBox .jumbotron {
    background-image: url("../images/salad2.jpg");
    background-size:cover;
    background-position: bottom;
    height: 450px;
    opacity: 1;
    border: none;
}

#mainScreen .jumbotron {
    background-image: url("../images/grill2.jpg");
    height: 275px;
    background-size: cover;
    background-position: bottom;
    opacity: 1;
}

#mainScreen, #logInModal, #resultDisplay {
    display: none;
}

#startBox {
    margin-top: 40px;
    
}

.entry {
    clear: both;
    height: 300px;
    width: 400px;
}

.panel-body {
    
    background-size: cover;
}

#startBox h1 {
    padding-bottom: 40px;
    font-size: 90px;
    text-shadow: 4px 4px 4px rgba(117, 117, 117, 0.692);
}


.jumbotron h1 {
    text-align: center;
    font-size: 550%;
    color: white;
    background-repeat: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.desc {
    font-size: 150%;
    height: 50px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1, h4 {
    font-weight: bold;
    text-shadow: 4px 4px 4px darkred;
}

.well {
    height: 200px;
    border: 3px solid red;
}

.form-control input {
    margin-bottom: 15px;
}

.panel .panel-heading, .jumbotron {
    background-color: red;
    color: white;
    border: 4px solid darkred;
    opacity: .8;
    
}


.panel  {
    opacity: .9;
}

.panel-body {
    border-left: 3px solid darkred;
    border-right: 3px solid darkred;
    border-bottom: 3px solid darkred;
    color: red;
    
}

.form-control:focus, .filter:focus {
    border-color: darkred;
    box-shadow: 0 0 8px red;
}



#logInBtn {
    width:400px;
    height:150px;
    font-weight: bold;
    font-size: 35px;
}

#logInModal {
    height: 500px;
    width: 800px;
    opacity: .9;
}



#logInSubmit {
    font-weight: bold;
    padding: 10px;
    margin:15px 0 15px 0;
}

#videoRow .panel-body {
    height: 500px;
}

iframe {
    border: 5px solid black;
}

.userLabel {
   font-size: 25px;
   padding-left: 10px;
   border-left: 4px solid red;
   text-shadow: 2px 2px 2px lightslategray;
   margin-bottom: 15px;
  
}

.checkbox label, .panel-title {
    font-weight: bold;
    font-size: 18px;
}

@media (max-width:798px) {
    #startBox h1 {
        font-size: 75px;
    }
    #logInModal {
        max-width: 100%;
    }
}



/*==================================================================================================

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}*/