body {
    background-image: url("../images/foodloop.jpg");
    background-size: 200px;
    background-repeat: none;
}
#resultDisplay{
    display: none;
}

img {
    float: left;
    margin-right: 15px;
    
}

.entry {
    clear: both;
    height: 300px;
    width: 400px;
    text-align: center;
    font-size: 550%;
    color: white;
    background-repeat: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.desc {
    font-size: 150%;
    height: 50px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1, h4 {
    font-weight: bold;
    text-shadow: 4px 4px 4px darkred;
}

.well {
    height: 200px;
    border: 3px solid red;
}



.panel .panel-heading, .jumbotron {
    background-color: red;
    color: white;
    border: 4px solid darkred;
    
}




.panel-body {
    border-left: 3px solid darkred;
    border-right: 3px solid darkred;
    border-bottom: 3px solid darkred;
    color: red;
}

.form-control:focus {
    border-color: darkred;
    box-shadow: 0 0 8px red;
}




#logInBtn {
    width:400px;
    height:100px;
    font-weight: bold;
    font-size: 35px;
}

#logInModal {
    height: 500px;
    width: 800px;
}



#logInSubmit {
    font-weight: bold;
    padding: 10px;
    margin:15px 0 15px 0;
}



#userLabel {
   font-size: 20px;
   padding-left: 10px;
   border-left: 3px solid red;
   margin-bottom: 15px;
}
